.box-19 {	
	/* 타이틀 */
	--title-align: center;
	--title-text: #2D93E4;
	--title-bg: #CCE6FB;

	/* 본문 */
	--body-align: center;
	--body-text: #000;
	--body-bg: #F3F3F3;

	min-height: 100%;
	border: 1px solid var(--body-border);
}

.box-19 .tit-wrap{ 
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 0.8rem;
	background: var(--title-bg);
}

.box-19 .txt-wrap{ 
	flex: 1;
	border-radius: 0 0 0.5rem 0.5rem;
	padding: 1.2rem;
	text-align: center;
	background: var(--body-bg);
}

.box-19 .icon{ 
	display: inline-block;
	margin: 0 auto 0.8rem;
}

.box-19 .icon img{ 
	width: auto;
	height: 38px;
}