
/* 통합검색 */
.totalSearch {position: relative; width: 11rem; height: 1.9rem; border-radius: 0.75rem 1rem 1rem 0.75rem; overflow: hidden; background: #e6f5f4;}
.totalSearch input { padding: 0 2.25rem 0 0.5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none; }
.totalSearch button { position: absolute; bottom: 0; right: 0; padding: 0; background:#089a98; border-radius: 50% 0 0 50%; width: 1.9rem; height: 1.9rem; line-height:38px; color:#fff; border: none; font-size:1.1rem; /*.9rem */ }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

#header:before {height: 2px; background: #089a98;} /* header 하단 라인 */

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a {color: #089a98 !important;} /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#222; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#089a98;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before {background: rgba(8,154,152,0.15);} /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown .active .depth01 > ul > li > a{ color:#333; }
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#089a98; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown #gnb:before {display: none;}
#nav.oneDown .depth02{ border:2px solid #089a98;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#089a98; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#089a98; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#089a98;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #d1d8e4; color:#fff; background: #555; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #aaa; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #089a98; }/* footer link 강조 폰트색상 */
#footer .copyright { color:#fff; }/* copyright 폰트색상 */
#footer .btn_top{ background:#089a98; color:#fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant {background: #089a98;}
.visitant ul li {color: #fff;}
.visitant ul li strong {color: rgba(255,255,255,0.5);}
.visitant ul li + li:before {border-left: 1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ border-radius:50%; background: #089a98; color:#fff;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ border-radius:50%; background: #ec5878; color:#fff;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose {  border-radius:50%; background: #ec5878; color:#fff;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#ec5878;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #ec5878;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#ec5878; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #ec5878; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #089a98; color:#fff; }
#mSearch .btnClose { border-radius:50%; background:#089a98; color:#fff; }

@media screen and (max-width: 1024px) {
	/* header */
    #header {border-bottom: 2px solid #089a98;}
}