h2.heading {margin-bottom: 4rem; width: 100%; text-align: center; font-size: 2rem; color: #222;}
h3.heading {margin-bottom: 1.5rem; font-size: 1.1rem; font-weight: 600; color: #fff;}

.btn_more {position: absolute; right: 0; top: -0.25rem; width: 2.25rem; height: 2.25rem; line-height: 2.25rem; text-align: center; font-size: 1.25rem; color: #222; background: #d0dcee; border-radius:50%; -webkit-transform: rotate(0); transform: rotate(0); -webkit-transition: all 0.15s; transition: all 0.15s;}
.btn_more:focus,
.btn_more:hover {color: #d0dcee; background: #222; -webkit-transform: rotate(180deg); transform: rotate(180deg);}

/* 메인비주얼 */
.MVisual0028 {position: relative; height: 100%;}
.MVisual0028 .slick-slider {border-radius: 1.5rem; overflow: hidden;}
.MVisual0028 .item {position: relative; line-height: 0; background: #eee; overflow: hidden;}
.MVisual0028 .item img {position: relative; left: 50%; width: auto; height: 100%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
.MVisual0028 .control {position: absolute; right: 0; bottom: -1.5rem; display: inline-block; padding: 0 1.5rem; height: 3rem; line-height: 3rem; background: #00a040; border-radius: 1.5rem 0 1.5rem 1.5rem; z-index: 1;}
.MVisual0028 .control .page {display: inline-block; margin-right: 1rem; font-size: 0.9rem; color: #fff;}
.MVisual0028 .control .page strong {position: relative; padding-right: 1rem; font-weight: 600; color: #fff100;}
.MVisual0028 .control .page strong:before {position: absolute; right: 0.375rem; top: calc(50% - 0.125rem); width: 0.25rem; height: 0.25rem; background: #fff; border-radius: 50%; content: '';}
.MVisual0028 .control > a {display: inline-block; width: 1.5rem; text-align: center; vertical-align: top; font-size: 1.2rem; color: #fff; -webkit-transition: all 0.15s; transition: all 0.15s;}
.MVisual0028 .control > a.play {display: none;}
/** 메인비주얼 active **/
.MVisual0028 .control > a:hover,
.MVisual0028 .control > a:focus {color: #fff100;}

/* 팝업존 */
.pop0028 {position: relative; width: 100%; height: 100%;}
.pop0028 .pop_img div,
.pop0028 .pop_img .item {height: 100%;}
.pop0028 .slick-slider {height: 100%; background: #eee; border-radius: 1rem; overflow: hidden;}
.pop0028 .pop_img .item a {position: relative; display: block; height: 100%; line-height: 0; text-align: center; overflow: hidden;}
.pop0028 .pop_img .item img {position: relative; top: 50%; max-width: 100%; height: auto; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.pop0028 .control {position: absolute; right: 0; bottom: -1.125rem; display: inline-block; padding: 0 1rem; height: 2.25rem; line-height: 2.25rem; background: #fff; border-radius: 1.125rem 0 1.125rem 1.125rem; box-shadow: 0 0 15px rgba(0,160,64, 0.2); z-index: 1;}
.pop0028 .control .page {display: inline-block; margin-right: 1rem; color: #666;}
.pop0028 .control .page strong {position: relative; padding-right: 1rem; font-weight: 600; color: #00a040;}
.pop0028 .control .page strong:before {position: absolute; right: 0.375rem; top: calc(50% - 0.125rem); width: 0.25rem; height: 0.25rem; background: #c5c9d6; border-radius: 50%; content: '';}
.pop0028 .control > a {display: inline-block; width: 1.5rem; text-align: center; vertical-align: top; font-size: 1.2rem; color: #000; -webkit-transition: all 0.15s; transition: all 0.15s;}
.pop0028 .control > a.play {display: none;}
/** 팝업존 active **/
.pop0028 .control > a:hover,
.pop0028 .control > a:focus {color: #00a040;}

/* 게시판 */
.notice0028 {position: relative; height: 100%;}
.notice0028 .titTab {position: relative; margin-bottom: 1.25rem;}
.notice0028 .titTab ul {font-size: 0; max-width: calc(100% - 2.5rem);}
.notice0028 .titTab li {position: relative; display: inline-block; margin-right: 2.5rem; max-width: calc(32% - 2.5rem); vertical-align: top;}
.notice0028 .titTab li a {display: block; line-height: 1.25rem; font-size: 1.1rem; font-weight: 500; color: #555;}
.notice0028 .titTab li a:before {position: absolute; top: calc(50% - 0.1rem); right: -1.75rem; width: 0; height: 0.2rem; border-radius: 0.1rem; background: #0d69cd; content: '';}
.notice0028 .titTab li a span {display: block; white-space: nowrap; overflow: hidden;}
.notice0028 .list_box {display: none; width: 100%; height: 100%;}
.notice0028 .list_box ul {display: flex; margin: 0 -0.875rem; width: calc(100% + 1.75rem);}
.notice0028 .list_box ul li {position: relative; padding: 0 0.875rem; width: calc(100% / 3); z-index: 1;}
.notice0028 .list_box ul li:nth-child(n+4) {display: none;}
.notice0028 .list_box ul li a {position: relative; display: block; padding: 1.4rem 1.5rem; height: 100%; background: #fff; border: 2px solid transparent; border-radius: 1rem; box-shadow: 0 0 20px rgba(0,0,0,0.1);}
.notice0028 .list_box ul li a:before {position: absolute; left: 0.5rem; top: 0.5rem; width: 100%; height: 100%; background: url('/images/template/T0028/main/0028_bg_dot.png'); border-radius: 1rem; opacity: 0; content: ''; z-index: -1;}
.notice0028 .list_box ul li a .tit {position: relative; margin-bottom: 0.25rem; height: 2.75rem; line-height: 1.375rem; font-size: 0.85rem; font-weight: 600; color: #222;/*  white-space: nowrap; text-overflow: ellipsis; */ overflow: hidden;}
.notice0028 .list_box ul li a .txt {margin-bottom: 1rem; height: 2.5rem; line-height: 1.25rem; color: #555; overflow: hidden;}
.notice0028 .list_box ul li a .date {position: relative; display: block; padding-left: 1rem; line-height: 1rem; font-size: 0.75rem; color: #666;}
.notice0028 .list_box ul li a .date:before {position: absolute; top: 0; left: 0; font-family: "xeicon"; color: #939393; content: "\ea2c";}
/* 게시판 : active */
.notice0028 a,
.notice0028 :before {-webkit-transition: all 0.15s; transition: all 0.15s;}
.notice0028 .titTab ul li a:hover,
.notice0028 .titTab ul li a:focus,
.notice0028 .titTab ul li a.current {color: #0d69cd; font-weight: 700;}
.notice0028 .titTab ul li a.current:before {width: 1rem;}
.notice0028 .list_box.on {display: block;}
.notice0028 .list_box ul li a:hover,
.notice0028 .list_box ul li a:focus {border-color: #0d69cd;}
.notice0028 .list_box ul li a:hover .tit,
.notice0028 .list_box ul li a:focus .tit {color: #0d69cd;}
.notice0028 .list_box ul li a:hover:before,
.notice0028 .list_box ul li a:focus:before {opacity: 1;}
/** 게시판 : new **/  
.notice0028 .list_box li a.new .tit {padding-left: 1.6rem;}
.notice0028 .list_box li a.new .tit:before {position: absolute; top: 0; left: 0; width: 1.3rem; height: 1.3rem; line-height: 1.3rem; text-align: center; font-size: 0.7rem; color: #fff; background: #0d69cd; border-radius: 0.25rem; content: "N";}
/** 게시판 : 데이터 없음 **/
.notice0028 .list_box li.no_data {margin: 0 0.875rem; width: calc(100% - 1.75rem); padding: 0; line-height: 10.5rem; text-align:center; font-weight: 600; background: #fff; border-radius: 1rem; box-shadow: 0 0 10px rgba(0,0,0,0.1); }

/* 갤러리 */
.gallery0028 {position: relative; height: 100%;}
.gallery0028 .titTab {position: relative; margin-bottom: 1.25rem;}
.gallery0028 .titTab ul {font-size: 0; max-width: calc(100% - 2.5rem);}
.gallery0028 .titTab li {position: relative; display: inline-block; margin-right: 2.5rem; max-width: calc(32% - 2.5rem); vertical-align: top;}
.gallery0028 .titTab li a {display: block; line-height: 1.25rem; font-size: 1.1rem; font-weight: 500; color: #555;}
.gallery0028 .titTab li a:before {position: absolute; top: calc(50% - 0.1rem); right: -1.75rem; width: 0; height: 0.2rem; border-radius: 0.1rem; background: #0d69cd; content: '';}
.gallery0028 .titTab li a span {display: block; white-space: nowrap; overflow: hidden;}
.gallery0028 .list_box {display: none; margin-top:1.5rem; width: 100%; height: 100%;}
.gallery0028 .list_box ul {display: flex; margin: 0 -0.75rem; width: calc(100% + 1.5rem); height: 100%;}
.gallery0028 .list_box ul::after {clear: both; display: block; content: '';}
.gallery0028 .list_box ul li {padding: 0 0.75rem; width: calc(100% / 3);}
.gallery0028 .list_box ul li:nth-child(n+4) {display: none;}
.gallery0028 .list_box ul li a {display: block; overflow: hidden;}
.gallery0028 .list_box ul li a .img {position: relative; height: 9.5rem; background: rgba(0,0,0,0.1); border-radius: 1rem; overflow: hidden;}
.gallery0028 .list_box ul li a .img img {position: relative; left: 50%; top: 50%; display: block; height: auto; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.gallery0028 .list_box ul li a .img.private {display: flex; justify-content: center; align-items: center; text-align: center; line-height: 1.5; font-size: 0.8rem; color: #fff; background: #666; }
.gallery0028 .list_box ul li a .img.private i {font-size: 1.5rem;}
.gallery0028 .list_box ul li a strong {display: block; margin-top: 0.75rem; height: 1.25rem; line-height: 1.25rem; font-size: 0.85rem; color: #222; font-weight: 500; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
/** 갤러리 active **/ 
.gallery0028 a,
.gallery0028 .list_box ul li a .img img,
.gallery0028 :before {-webkit-transition: all 0.15s; transition: all 0.15s;}
.gallery0028 .titTab ul li a:hover,
.gallery0028 .titTab ul li a:focus,
.gallery0028 .titTab ul li a.current {color: #0d69cd; font-weight: 700;}
.gallery0028 .titTab ul li a.current:before {width: 1rem;}
.gallery0028 .list_box.on {display: block;}
.gallery0028 .list_box ul li a:hover .img > img,
.gallery0028 .list_box ul li a:focus .img > img {-webkit-transform: translate(-50%, -50%) scale(1.1); transform: translate(-50%, -50%) scale(1.1);} 
.gallery0028 .list_box ul li a:hover strong,
.gallery0028 .list_box ul li a:focus strong {color: #0d69cd}
/** 게시판 : 데이터 없음 **/
.gallery0028 .list_box li.no_data {margin: 0 0.875rem; width: calc(100% - 1.75rem); padding: 0; line-height: 11.5rem; text-align:center; font-weight: 600; background: #fff; border-radius: 1rem; box-shadow: 0 0 10px rgba(0,0,0,0.1); }

/* 채용소식 */
.recruit0028 {position: relative; padding: 2rem 1.75rem; width: 100%; height: 100%; background: #00a040; border-radius: 1.5rem 1.5rem 0 0;}
.recruit0028 .list_box ul li a {display: block; padding: 0.65rem 0; color: #fff; border-bottom: 1px dashed rgba(255,255,255,0.5);}
.recruit0028 .list_box ul li a .tit {position: relative; margin-bottom: 0.5rem; height: 1.25rem; line-height: 1.25rem;}
.recruit0028 .list_box ul li a .tit span {position: relative; display: inline-block; padding-bottom: 0.15rem; max-width: calc(100% - 3.75rem); font-size: 0.75rem; font-weight: 500; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.recruit0028 .list_box ul li a .tit span:before {position: absolute; bottom: 0; left: 0; width: 100%; height: 0.7rem; background: rgba(0,0,0,0.2); border-radius: 0.25rem; content: "";}
.recruit0028 .list_box ul li a .tit .date {position: absolute; top: 0; right: 0; font-size: 0.7rem; opacity: 0.7;}
.recruit0028 .list_box ul li a .txt {height: 1.25rem; line-height: 1.25rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.recruit0028 .btn_more {right: 1.75rem; top: 1.75rem; color: #fff; background: transparent;}
.recruit0028 .btn_more:focus,
.recruit0028 .btn_more:hover {color: #fff; background: transparent;}
/** 채용소식 active **/ 
.recruit0028 .list_box ul li a:focus .txt,
.recruit0028 .list_box ul li a:hover .txt {text-decoration: underline;}

/* 주민참여예산제 */
.M_link01_0028 {padding: 2rem; height: 100%; background: #0d69cd; border-radius: 0 0 1.5rem 1.5rem;}
.M_link01_0028 h3.heading {margin-bottom: 0.75rem;}
.M_link01_0028 ul li {margin: 0.25rem 0;}
.M_link01_0028 ul li a {position: relative; display: block; padding: 0 2.5rem 0 1rem; height: 2.5rem; line-height: 2.5rem; color: #fff; background: #024d9e; border-radius: 0.5rem;}
.M_link01_0028 ul li a:before {position: absolute; top: 0; right: 0; width: 2.5rem; text-align: center; font-family: "xeicon"; font-size: 1.2rem; content: "\e90b"; -webkit-transition: all 0.15s; transition: all 0.15s;}
/* 주민참여예산제 :hover */
.M_link01_0028 ul li a:hover:before,
.M_link01_0028 ul li a:focus:before {width: 2rem;}

/* 바로가기 서비스 */
.M_link02_0028 {height: 100%;}
.M_link02_0028 ul {display: table; table-layout: fixed; width: 100%;}
.M_link02_0028 li {display: table-cell; vertical-align: top;}
.M_link02_0028 li:nth-of-type(n+9) {display: none;}
.M_link02_0028 li a {display: block; width: 100%; word-break: keep-all; text-align: center;}
.M_link02_0028 li a .img {display: block; margin: auto; width: 5rem; height: 5rem; border-radius: 50%; line-height: calc(5rem - 4px); font-size: 0; background: #f0f7ff; border: 2px solid transparent;}
.M_link02_0028 li a .img img {max-width: 100%; max-height: 100%; vertical-align: middle;}
.M_link02_0028 li a span {position: relative; display: inline-block; margin-top: 0.75rem; padding-bottom: 0.25rem; max-width: 100%; max-height: 2.5rem; line-height: 1.25rem; font-size: 0.85rem; color: #333; word-break: break-all; overflow: hidden; z-index: 1;}
.M_link02_0028 li a span:before {position: absolute; bottom: 0; left: 0; width: 0; height: 0.85rem; background: #e6e9f4; border-radius: 0.425rem; content: ""; z-index: -1;}
/** 바로가기 서비스 : active **/
.M_link02_0028 li a,
.M_link02_0028 li a span,
.M_link02_0028 li a .img {-webkit-transition: 0.3s; transition: 0.3s;}
.M_link02_0028 li a:hover .img,
.M_link02_0028 li a:focus .img {background: #fff; border-color: #0d69cd; box-shadow: 2px 2px 6px rgba(103, 103, 103, 0.2);}
.M_link02_0028 li a:hover span,
.M_link02_0028 li a:focus span {font-weight: 600; color: #000;}
.M_link02_0028 li a:hover span:before,
.M_link02_0028 li a:focus span:before {width: 100%;}

/* 사용자 서비스 */
.userSrv {position: relative; padding: 2rem 2.5rem; height: 100%;}
.userSrv:before {position: absolute; top: 0; left: 0; width: 120%; height: 100%; background: url('/images/template/T0028/main/0028_bg_dot2.png'); border-radius: 3rem 0 0 0; content: "";}
.userSrv:after {position: absolute; bottom: 0; left: calc(50% - 1.5rem); width: 120%; height: 12rem; line-height: 0; background: url('/images/template/T0028/main/0028_bg_wrap03_3.png') no-repeat center bottom; transform: translateX(-50%); -webkit-transform: translateX(-50%); content: ""; z-index: 1;}
.userSrv > ul {position: relative; z-index: 2;}
.userSrv > ul:after {clear: both; display: block; content: "";}
.userSrv > ul > li {float: left; padding: 0 0.875rem; width: calc(100% / 3);}
.userSrv > ul > li > h3 {position: relative; display: inline-block; min-width: 70%; padding: 0 1.5rem; height: 3rem; line-height: 3rem; text-align: center; font-size: 1rem; font-weight: 600; color: #fff; border-radius: 1.5rem 1.5rem 1.5rem 0; z-index: 1;}
.userSrv > ul > li > ul {margin-top: -1.5rem; padding: 2rem 1.5rem 1rem; background: #fff; border-radius: 1rem; box-shadow:  0 0 15px rgba(0,0,0,0.2);}
.userSrv > ul > li:nth-of-type(1) > h3 {color: #000; background: #f7ab00;}
.userSrv > ul > li:nth-of-type(2) {margin-top: 1.5rem;}
.userSrv > ul > li:nth-of-type(2) > h3 {background: #0d69cd;}
.userSrv > ul > li:nth-of-type(3) > h3 {background: #00a040;}
.userSrv a {position: relative; display: block; padding: 0.25rem 0.35rem 0.25rem 1.25rem; color: #444; z-index: 1;}
.userSrv a:before {position: absolute; top: 0.45rem; left: 0; font-family: "xeicon"; font-size: 1rem; content: "\e92c";}
/* 사용자 서비스 : hover */
.userSrv a:hover,
.userSrv a:focus {font-weight: 600;}
.userSrv > ul > li:nth-of-type(1) a:hover,
.userSrv > ul > li:nth-of-type(1) a:focus {color: #693600;}
.userSrv > ul > li:nth-of-type(2) a:hover,
.userSrv > ul > li:nth-of-type(2) a:focus {color: #0d69cd;}
.userSrv > ul > li:nth-of-type(3) a:hover,
.userSrv > ul > li:nth-of-type(3) a:focus {color: #00a040;}
.userSrv a:hover:before,
.userSrv a:focus:before {content: "\e92b";}

/* 바로가기3 */
.M_link03_0028 {position: relative; padding: 2rem; height: 100%; background: url('/images/template/T0028/main/0028_bg_dot3.png'); border-radius: 2.5rem 2.5rem 0 0;}
.M_link03_0028:before {position: absolute; bottom: 0; right: -176px; width: 480px; height: 290px; background: url('/images/template/T0028/main/0028_bg_wrap03_4.png') no-repeat bottom right; content: "";}
.M_link03_0028 ul li {margin: 0.5rem 0;}
.M_link03_0028 ul li a {position: relative; display: flex; align-items: center; padding: 0 4.5rem 0 2rem; height: 2.75rem; font-size: 0.85rem; color: #000; background: #fff; border-radius: 1.5rem; overflow: hidden; z-index: 1;}
.M_link03_0028 ul li a:before {position: absolute; top: 0; right: 0; width: 4.5rem; height: 2.75rem; line-height: 2.75rem; text-align: center; font-family: "xeicon"; font-size: 1rem; content: "\e907";}
/* 바로가기3 : hover */
.M_link03_0028 ul li a:hover,
.M_link03_0028 ul li a:focus {background: #f7ab00; box-shadow: 4px 4px 0 rgba(0,0,0,0.2);}
.M_link03_0028 ul li a:hover:before,
.M_link03_0028 ul li a:focus:before {background: #d89703}
.M_link03_0028 a,
.M_link03_0028 a:before {-webkit-transition: 0.25s; transition: 0.25s;}

/* 배너존 */
.banner_zone {line-height: 1; background: #fff; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.banner_zone .container {position: relative; height: 4rem; overflow: hidden;}
.banner_zone .btn {float: left; margin-top: 1.1rem; overflow: hidden;}
.banner_zone .btn a {float: left; margin-right: 0.25rem; width: 1.8rem; height: 1.8rem; line-height: 1.8rem; text-align: center; font-size: 1.1rem; color: #000; background: #f6f6f6; border-radius: 50%; overflow: hidden;}
.banner_zone .btn a.play {display: none;}
.banner_zone .bnWrap {float: left; padding-top: 0.75rem; padding-left: 1.5rem; width: calc(100% - 8.25rem); overflow: hidden;}
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden;}
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle;}
/* 배너존 : active */
.banner_zone .btn a:hover,
.banner_zone .btn a:focus {background: #f1f1f1;}

@media (max-width: 1400px) {
	/* 메인비주얼 */
	.MVisual0028 .item img {left: auto; width: 100%; height: auto; transform: none; -webkit-transform: none;}

	/* 팝업존 */
	.pop0028 .pop_img .item img {top: auto; transform: none; -webkit-transform: none;}

	/* 사용자 서비스 */
	.userSrv {padding: 2rem 3.5rem 4rem;}
	.userSrv:after {left: -3.5rem; width: calc(100% + 5rem); height: 65%; background-size: 100% auto; transform: none;-webkit-transform: none;}

	/* 바로가기3 */
	.M_link03_0028:before {right: -20%; width: 80%; height: 10rem; background-size: contain;}
}

@media (max-width: 1240px) {
	h2.heading {margin-bottom: 2rem; font-size: 1.5rem;}
	h3.heading {margin-bottom: 1rem;}

	/* 사용자 서비스 */
	.userSrv:before {width: 100%; border-radius: 2rem 2rem 0 0;}

	/* 바로가기3 */
	.M_link03_0028 {margin: 0 -1rem; padding: 1rem 10rem 1rem 1rem; border-radius: 0;}
	.M_link03_0028:before {right: 0; width: 100%; height: 100%; background-size: auto 100%;}
	.M_link03_0028 ul:after {clear: both; display: block; content: "";}
	.M_link03_0028 ul li {float: left; margin: 0.25rem; width: calc(50% - 0.5rem);}
}

@media (max-width: 1024px) {
	/* 게시판 */
	.notice0028 .titTab li {margin-right: 1.5rem; margin-bottom: 0.25rem; max-width: calc(100% - 1.5rem);}
	.notice0028 .titTab li a {font-size: 1rem;}
	.notice0028 .titTab li a:before {right: -1rem;}
	.notice0028 .list_box ul {margin: 0 -0.5rem; width: calc(100% + 1rem);}
	.notice0028 .list_box ul li {position: relative; padding: 0 0.5rem; width: calc(100% / 2);}
	.notice0028 .list_box ul li:nth-child(n+3) {display: none;}
	/* 게시판 : active */
	.notice0028 .titTab ul li a.current:before {width: 0.75rem;}
	/** 게시판 : 데이터 없음 **/
	.notice0028 .list_box li.no_data {margin: 0; width: 100%;}

	/* 갤러리 */
	.gallery0028 .titTab li {margin-right: 1.5rem; margin-bottom: 0.25rem; max-width: calc(100% - 1.5rem);}
	.gallery0028 .titTab li a {font-size: 1rem;}
	.gallery0028 .titTab li a:before {right: -1rem;}
	.gallery0028 .list_box ul {margin: 0 -0.5rem; width: calc(100% + 1rem);}
	.gallery0028 .list_box ul li {padding: 0 0.5rem; width: calc(100% / 2);}
	.gallery0028 .list_box ul li:nth-child(n+3) {display: none;}
	/* 갤러리 : active */
	.gallery0028 .titTab ul li a.current:before {width: 0.75rem;}
	/** 게시판 : 데이터 없음 **/
	.gallery0028 .list_box li.no_data {margin: 0; width: 100%;}

	/* 바로가기 서비스 */
	.M_link02_0028 li:nth-of-type(n+7) {display: none;}
	.M_link02_0028 li a .img {width: 4.5rem; height: 4.5rem; line-height: calc(4.5rem - 4px);}
	.M_link02_0028 li a .img img {max-width: 3.25rem; max-height: 3.25rem;}
}

@media (max-width: 860px) {
	/* 배너존 */
	.banner_zone .btn {margin-top: 1.3rem;}
	.banner_zone .btn a {width: 1.5rem; height: 1.5rem; line-height: 1.5rem; font-size: 1rem;}
	.banner_zone .bnWrap {padding-left: 0.5rem; width: calc(100% - 7rem);}
}

@media (max-width: 768px) {
	h2.heading {margin-bottom: 1.5rem; font-size: 1.25rem;}

	/* 메인비주얼 */
	.MVisual0028 .control {bottom: -1.125rem; padding: 0 1rem; height: 2.25rem; line-height: 2.25rem; border-radius: 1.125rem 0 1.125rem 1.125rem;}
	.MVisual0028 .control .page {font-size: 0.8rem;}

	/* 팝업존 */
	.pop0028 .pop_img .item img {width: auto; height: 100%;}

	/* 사용자 서비스 */
	.userSrv {padding: 2rem 1.5rem;}
	.userSrv > ul > li > ul {padding: 2rem 1rem 1rem;}

	/* 바로가기3 */
	.M_link03_0028 {padding: 1rem;}
	.M_link03_0028:before {display: none;}
	.M_link03_0028 ul li {margin: 0.25rem 0; width: 100%;}
	.M_link03_0028 ul li a {padding: 0 4.5rem 0 1rem;}
}

@media (min-width: 601px) and (max-width: 768px) {
	/* 게시판 */
	.notice0028 .list_box ul {margin: 0; width: 100%;}
	.notice0028 .list_box ul li {padding: 0; width: 100%;}
	.notice0028 .list_box ul li:nth-child(n+2) {display: none;}

	/* 갤러리 */
	.gallery0028 .list_box ul {margin: 0; width: 100%;}
	.gallery0028 .list_box ul li {padding: 0; width: 100%;}
	.gallery0028 .list_box ul li:nth-child(n+2) {display: none;}
}

@media (max-width: 640px) {	
	/* 사용자 서비스 */
	.userSrv {margin: 0 -1rem; padding: 1rem;}
	.userSrv:after {display: none;}
	.userSrv > ul > li {padding: 0.5rem 0; width: 100%;}
	.userSrv > ul > li:nth-of-type(2) {margin-top: 0;}
}

@media (max-width: 600px) {	
	/* 게시판 */
	.notice0028 .list_box ul {display: block; margin: 0; width: 100%;}
	.notice0028 .list_box ul li {padding: 0; width: 100%;}
	.notice0028 .list_box ul li ~ li {margin-top: 0.5rem;}
	.notice0028 .list_box ul li a {padding: 1.5rem 1rem;}

	/* 갤러리 */
	.gallery0028 .list_box ul {display: block; margin: 0; width: 100%;}
	.gallery0028 .list_box ul li {padding: 0; width: 100%;}
	.gallery0028 .list_box ul li ~ li {margin-top: 0.5rem;}

	/* 채용소식 */
	.recruit0028 {padding: 1.5rem 1rem;}

	/* 주민참여예산제 */
	.M_link01_0028 {padding: 1.5rem 1rem;}

	/* 바로가기 서비스 */
	.M_link02_0028 li:nth-of-type(n+6) {display: none;}
	.M_link02_0028 li a .img {width: 4rem; height: 4rem; line-height: calc(4rem - 4px);}
	.M_link02_0028 li a .img img {max-width: 2.5rem; max-height: 2.5rem;}

	/* 바로가기3 */
	.M_link03_0028 ul li a {height: 2.5rem; border-radius: 1.25rem;}
	.M_link03_0028 ul li a:before {height: 2.5rem; line-height: 2.5rem;}
}

@media (min-width: 381px) and (max-width: 480px) {
	/* 바로가기 서비스 */
	.M_link02_0028 ul {display: flex; flex-wrap: wrap; table-layout: auto;}
	.M_link02_0028 li {float: left; display: inline-block; padding: 0.25rem; width: 50%;}
	.M_link02_0028 li:nth-of-type(-n+8) {display: inline-block;}
	.M_link02_0028 li a {display: table; table-layout: fixed; text-align: left;}
	.M_link02_0028 li a .img {display: table-cell; margin: 0; text-align: center;}
	.M_link02_0028 li a span {display: table-cell; margin-top: 0; padding-left: 0.5rem;}
}

@media (max-width: 380px) {
	/* 바로가기 서비스 */
	.M_link02_0028 ul {display: flex; flex-wrap: wrap; table-layout: auto;}
	.M_link02_0028 li {float: left; display: inline-block; padding: 0.25rem; width: 33.33%;}
	.M_link02_0028 li:nth-of-type(-n+8) {display: inline-block;}
}

@media (max-width: 320px) {
	/* 팝업존 */
	.pop0028 .pop_img .item img {width: 100%; height: auto;}
}
