/* 메인 컨테이너 */
#container {position: relative; width:100%; z-index: 2;}
/* #container * { scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;} */
#container ::-webkit-scrollbar { width: 5px; height: 3px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.container {max-width: 70rem;}

.MC_wrap1 {position: relative; overflow: hidden;}
.MC_wrap2 {padding-bottom: 2.25rem;}
.MC_wrap3 {padding: 2.25rem 0 2.75rem; background: #f0f4fb url('/images/template/T1001/main/bg_wrap03.png') no-repeat center bottom;}

.MC_box1 {position: absolute; top: 0; left: -6rem; width: calc(50vw + 41rem); height: 25.5rem; background: linear-gradient(135deg,  rgba(238,203,150,1) 0%,rgba(233,233,232,1) 9%,rgba(176,214,214,1) 50%,rgba(176,214,214,1) 100%); border-radius: 3.25rem 0 0 0; overflow: hidden;} /* 메인비주얼 */
.MC_box2 {position: relative; width: 21rem; height: 23.5rem; float: right; margin-top: 2rem; } /* 팝업존 */
.MC_box3 {margin-top: -2.5rem; width: 100%;} /* 바로가기 */
.MC_box4 {position: relative; margin-top: 2.25rem; width: 56.5%; height: 19.25rem; float: left;} /* 공지사항 */
.MC_box5 {width: 38.5%; margin-top: 2.25rem; float: right;} /* 학생,학부모,교직원 */
.MC_box6 {width: 68.5%; height: 18.75rem; float: left;} /* 보도자료 */
.MC_box7 {width: 28.2%; height: 18.75rem; float: right;} /* 교육지원청 홍보 */

@media (max-width: 1440px) {
	.MC_box3 {padding: 0 2.5rem;} /* 바로가기 */
}

@media (max-width: 1240px) {
	.MC_wrap2 {padding-bottom: 1.5rem;}
	.MC_wrap3 {padding: 1.5rem 0; background: #f0f4fb;}

	/*.MC_box1 {position: relative; top: auto; left: auto; margin: 0 -1rem; width: calc(100% + 2rem); height: auto; border-radius: 0;}*/ /* 메인비주얼 */
    .MC_box1 {height:22.5rem;}
    .MC_box2 {width:32.5%; height:auto; margin:1.5rem 0;}
	/*.MC_box2 {margin-top: 1.5rem; width: 100%; height: auto;}*/ /* 팝업존 */
	.MC_box3 {margin-top: 0;} /* 바로가기 */
    .MC_box4 {margin-top: 1.5rem; width: calc(50% - 0.5rem);} /* 공지사항 */
    .MC_box5 {margin-top: 1.5rem; width: calc(50% - 0.5rem);} /* 학생,학부모,교직원 */
    .MC_box6 {width: 100%; height:auto;} /* 보도자료 */
    .MC_box7 {margin-top: 1.5rem; width: 100%; height:auto;} /* 교육지원청 홍보 */
}

@media (max-width: 960px) {

    .MC_box1 {position: relative; top: auto; left: auto; margin: 0 -1rem; width: calc(100% + 2rem); height: auto; border-radius: 0;} /* 메인비주얼 */
    .MC_box2 {width: 100%; float:left;}
    .MC_box4 {width: 100%;} /* 공지사항 */
    .MC_box5 {width: 100%;} /* 학생,학부모,교직원 */
}

@media (max-width: 640px) {	
}

@media (max-width: 480px) {	
    .MC_box4 {height: auto;} /* 공지사항 */
}
